// Use the gear_dropdown.png screenshot as a style guide

#gear-dropdown {
  position: relative
}

.gear-dropdown {
  background: white;
  font-size: 10px;
  // height: 100px;
  width: 200%;
  border-radius: 5px;
  border: 1px solid grey;
  font-family: $sans-serif;
  padding: 5px;
  box-shadow: -1px 4px 6px 1px rgba(0, 0, 0, 0.09);

}

.editions {
  font-size: 8px;
  color: gray;
  text-transform: uppercase;
  border-bottom: 1px solid $light-gray;
}

.dropdown-subtitle {
  font-weight: bold;
  font-size: 8px;
  color: gray;
  text-transform: uppercase;
}

.gear-dropdown li{
  padding: 5px;
  padding-left: 0px;
}

#gear-dropdown-btn > ul{
  position: absolute;
  top: 40px;
  right:80px;
}

.editions li:hover {
  background: $light-gray;
  color: black;
}


.help li {
  color: #6a9bc3;
  font-size: 9px;
}
